<div class="offer-details">
    <h1>{{shoe.title}}</h1>
    <div class="info">
        <img src={{shoe.imageUrl}} alt={{shoe.title}}>
        <div class="description">{{shoe.description}}
            <br>
            <br>
            <p> <strong>Buyers:</strong> {{shoe.buyers.length}}</p>
            <br>
            <p class="price">${{shoe.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isAuthor}}
        <a href="/shoes/edit/{{shoe._id}}">Edit</a>
        <a href="/shoes/delete/{{shoe._id}}">Delete</a>
        {{else}}

        {{#if isBought}}
        <span>You bought it</span>
        {{else}}
        <a href="/shoes/buy/{{shoe._id}}">Buy</a>
        {{/if}}
        {{/if}}
    </div>
</div>