<div class="user-info">
    <div>
        <p>Email: <span>{{email}}</span></p> |
        <p>My offers: <span>[{{user.offersBought.length}}]</span></p> |
        <p><a href="/users/logout">Logout</a></p>
    </div>
    <div class="shoes">
        {{#each user.offersBought}}
        <div class="shoe">
            <img src={{this.imageUrl}}>
            <h3>{{this.title}} <span>${{this.price}}</span></h3>
        </div>
        {{/each}}
    </div>
    <p class="total-profit">Total profit: <span>${{sumPrices}}</span></p>
</div>